@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------------------------------------------- */
/* Global Styles */

/* Fonts */
h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height{
    height: 100vh;
}

/* ---------------------------------------------------------------------------- */
/* Components */

/* Buttons */
.button1{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

.button2{
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: pink;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: purple;
}

.button3{
    width: 50px;
    border: none;
    border-radius: 8px;
    background-color: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
}

/* Navigation */
.nav-link{
    font-family:  'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.nav-link:hover{
    color: #18382B;
}

.nav-link.active{
    border-bottom: 2px solid #18382B;
    color: #18382B;
}

/* Carousel */
.carousel-item{
    background-color: #e6f2e9;
}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next{
    left: 84px;
}

.slide2{
    background-color: rgb(238, 119, 139);
}

/* Accordion */
.accordion{
    margin-top: 30px;
}

.accordion-header, .accordion-body{
    font-family: 'Lato', sans-serif;
    background-color: #132b21;
}

.accordion-button{
    background-color: #18382B;
}

.image-A{
    width: 300px;
    height: 200px;
}

/* Card */
.card{
    border-radius: 150px 150px 12px 12px;
    background: #f3f3f3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top{
    height: 320px;
    margin: auto;
    width: auto;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-top.small{
    height: 200px;
}

.card-text{
    color: #18382B;
}

/* Table */
.table{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.tbl-img{
    height: 320px;
    margin: auto;
    width: auto;
}

/* ---------------------------------------------------------------------------- */
/* Home Page */
.hero-image{
    height: 90%;
    width: 90%;
    position: relative;
    bottom: -100px;
}